<footer class="footer">

  <div class="footer__top">
    <div class="container">
      <div class="footer__inner">
        <p class="footer__text">
          subscribe to latest smartphones
          news & great deals we offer
        </p>

        <div class="footer__box">

          <form class="footer__form" action="#">
            <label for="subs-e" class="footer__label">Email address</label>
            <input id="subs-e" class="footer__form-input" type="email" name="email"
              placeholder="Enter your email address..." required>

            <button class="footer__form-btn" type="submit">
              Subscribe
              <svg class="footer__svg-email">
                <use xlink:href="images/sprite.svg#mail"></use>
              </svg>
            </button>

          </form>

          <ul class="footer__social-list">
            <li class="footer__social-item">
              <svg class="footer__svg footer__svg--twitter">
                <use xlink:href="./images/sprite.svg#twitter"></use>
              </svg>
            </li>

            <li class="footer__social-item">
              <svg class="footer__svg footer__svg--facebook">
                <use xlink:href="images/sprite.svg#facebook"></use>
              </svg>
            </li>

            <li class="footer__social-item">
              <svg class="footer__svg footer__svg--linkedin">
                <use xlink:href="images/sprite.svg#linkedin"></use>
              </svg>
            </li>

            <li class="footer__social-item">
              <svg class="footer__svg footer__svg--google">
                <use xlink:href="images/sprite.svg#google"></use>
              </svg>
            </li>

            <li class="footer__social-item">
              <svg class="footer__svg footer__svg--pintest">
                <use xlink:href="images/sprite.svg#pintest"></use>
              </svg>
            </li>

            <li class="footer__social-item">
              <svg class="footer__svg footer__svg--youtube">
                <use xlink:href="images/sprite.svg#youtube"></use>
              </svg>
            </li>

            <li class="footer__social-item">
              <svg class="footer__svg footer__svg--rss">
                <use xlink:href="images/sprite.svg#rss"></use>
              </svg>
            </li>
          </ul>

        </div>

      </div>
    </div>
  </div>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__wrapper">
        <p class="footer__copy">
          Copyright © 2015 <span>codeitStore</span> All Rights Reserved.
        </p>

        <div class="footer-partners">

          <ul class="footer-partners__list">

            <li class="footer-partners__item">

              <a class="footer-partners__link" href="#">
                <img class="footer-partners__img" src="./images/content/partners/1.png" alt="partners images">
              </a>

            </li>

            <li class="footer-partners__item">

              <a class="footer-partners__link" href="#">
                <img class="footer-partners__img" src="./images/content/partners/2.png" alt="partners images">
              </a>
            </li>

            <li class="footer-partners__item">

              <a class="footer-partners__link" href="#">
                <img class="footer-partners__img" src="./images/content/partners/3.png" alt="partners images">
              </a>

            </li>

            <li class="footer-partners__item">

              <a class="footer-partners__link" href="#">
                <img class="footer-partners__img" src="./images/content/partners/4.png" alt="partners images">
              </a>

            </li>

            <li class="footer-partners__item">

              <a class="footer-partners__link" href="#">
                <img class="footer-partners__img" src="./images/content/partners/5.png" alt="partners images">
              </a>

            </li>

            <li class="footer-partners__item">

              <a class="footer-partners__link" href="#">
                <img class="footer-partners__img" src="./images/content/partners/6.png" alt="partners images">
              </a>

            </li>

          </ul>

        </div>
      </div>
    </div>
  </div>



</footer>