<header id="header-section" class="header">

  <div class="container">

    <div class="header__wrapper">

      <a class="logo" href="#body">
        <!-- <img class="logo__img" src="/images/logo.png" alt="logo image"> -->
        <div class="logo__inner">
          <div class="logo__top">
            <span class="logo__left">Code</span>
            <span class="logo__right uppercase">It</span>
          </div>

          <div class="logo__bottom uppercase">
            Store
          </div>
        </div>
      </a>

      <div class="header__inner">

        <nav class="menu">

          <ul class="menu__list">

            <li class="menu__item">

              <a class="menu__link menu__link--active" href="#">
                Home
              </a>

            </li>

            <li class="menu__item menu__item--popup">

              <a class="menu__link" href="#">
                All Brands

                <svg class="menu__arrow-down">
                  <use xlink:href="images/sprite.svg#arrow-down"></use>
                </svg>
                <svg class="menu__arrow-up">
                  <use xlink:href="images/sprite.svg#arrow-down"></use>
                </svg>
              </a>

              <ul class="sublist">
                <li class="subitem">first</li>
                <li class="subitem">second</li>
                <li class="subitem">third</li>
              </ul>

            </li>

            <li class="menu__item">

              <a class="menu__link" href="#">
                Latest
              </a>

            </li>

            <li class="menu__item">

              <a class="menu__link" href="#">
                Featured
              </a>

            </li>

            <li class="menu__item">

              <a class="menu__link" href="#">
                About
              </a>

            </li>

            <li class="menu__item">

              <a class="menu__link" href="#">
                Blog
              </a>

            </li>

            <li class="menu__item">

              <a class="menu__link" href="#">
                Contact
              </a>

            </li>

            <li class="menu__item">

              <a class="menu__link" href="#">
                <svg class="menu__search">
                  <use xlink:href="images/sprite.svg#search"></use>
                </svg>
              </a>

            </li>


          </ul>

        </nav>

        <div class="menu-nav">

          <button class="menu-nav__btn" href="#">

            <svg class="menu-nav__find">
              <use xlink:href="images/sprite.svg#bg-find"></use>
            </svg>

          </button>

          <button class="menu-nav__popup">

            <svg class="menu-nav__ellipse">
              <use xlink:href="images/sprite.svg#bg-ellipse"></use>
            </svg>

          </button>

        </div>

        <button class="header__btn">
          <svg class="header__cart">
            <use xlink:href="./images/sprite.svg#cart"></use>
          </svg>

          $<span class="header__sum">460.00</span>

          <div class="header__ellips">
            <span>2</span>
          </div>
        </button>

      </div>

    </div>

    <div class="header__popup">

      <form class="header__search" action="#">

        <label for="sub-search" class="header__label">Search</label>
        <input id="sub-search" class="header__form-input" type="search" name="search" placeholder="Search" required>

        <button class="header__form-btn" type="submit">Search</button>

      </form>

    </div>

  </div>

</header>