.distribution {
  &__inner {
    height: 491px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    width: calc(50%);
    height: 100%;
    padding: 0 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
  }

  &__left {
    margin-right: 3px;
    // padding: 100px 0 95px;
    background-color: #3b3b3b;
  }

  &__right {
    background-color: #4d68ea;
  }

  .blockquote {
    padding-top: 50px;
    font-size: 22px;

    &__author {
      padding-top: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &__desc {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      font-size: 14px;
    }

    &__icon {
      margin-bottom: 20px;
    }
  }

  .general-caption span {
    margin-bottom: 20px;
  }

  &__right-item {
    display: flex;
    align-items: baseline;
    font-size: 48px;

    & span {
      font-size: 96px;
      line-height: 130%;
    }
  }

  &__right-desc {
    font-size: 24px;
    line-height: 130%;
  }
}
