.distribution {
  &__inner {
    height: 491px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    width: calc(50%);
    background-color: #3b3b3b;
    color: white;
  }

  &__right {
    width: calc(50%);
    background-color: #4d68ea;
    color: white;
  }
}
