.about-program {
  margin-bottom: 100px;
  color: #3b3b3b;

  @include _1024 {
    margin-bottom: 70px;
  }

  @include _767 {
    margin-bottom: 50px;
  }

  &__inner {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _1024 {
      padding-left: 80px;
      padding-right: 0;
    }

    @include _767 {
      padding-top: 30px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__content {
    width: 100%;
    max-width: 500px;
    margin-right: 50px;

    @include _1024 {
      max-width: 100%;
      margin-right: 0;
    }

    @include _767 {
    }
  }

  &__headline {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;

    @include _1024 {
      max-width: 575px;
    }

    @include _767 {
      margin-bottom: 20px;
    }
  }

  &__icons {
    display: flex;
    align-items: center;

    @include _1024 {
      display: none;
    }
  }

  &__icon:not(:last-child) {
    margin-right: 20px;
  }

  &__desc {
    font-size: 18px;
    line-height: 130%;

    @include _1024 {
      max-width: 354px;
      margin-right: 0;
    }

    @include _767 {
      width: 100%;
      max-width: 100%;
      margin-bottom: 35px;
    }
  }

  &__content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .about-program__icons {
      display: none;

      @include _1024 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__icon:not(:last-child) {
          margin-right: 20px;
        }
      }

      @include _767 {
        width: 100%;
      }
    }

    @include _767 {
      flex-direction: column;
    }
  }
}
