.technology {
  margin-bottom: 100px;

  @include _1024 {
    margin-bottom: 70px;
  }
  @include _767 {
    margin-bottom: 50px;
  }

  &__content {
    padding-top: 50px;

    @include _767 {
      margin-bottom: 30px;
    }
  }
}
