.garanti {
  &__item {
    &--first {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-image: url('../img/grow/garanti/1.png');
      }
    }
  }
}
