.garanti {
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: calc(31.5%);
    height: 368px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: end;
    font-weight: bold;
    font-size: 12px;
    line-height: 130%;
    color: #fff;
    filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
    z-index: 10;

    &--first,
    &--second,
    &--third {
      border-radius: 5px;
    }

    &--first {
      background-image: url('../img/grow/garanti/1.png');
    }
    &--second {
      background-image: url('../img/grow/garanti/2.png');
    }
    &--third {
      background-image: url('../img/grow/garanti/3.png');
    }
  }

  &__text {
    padding-top: 10px;
    font-size: 24px;
    line-height: 110%;
  }

  &__icon {
    margin-top: auto;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(96, 113, 204, 0.1);
    border-radius: 5px;
  }
}
