@mixin _1400 {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}

@mixin _1024 {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin _767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin _640 {
  @media (max-width: 640px) {
    @content;
  }
}

@mixin _480 {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin _360 {
  @media (max-width: 360px) {
    @content;
  }
}

@mixin _320 {
  @media (max-width: 320px) {
    @content;
  }
}
