.grow {
  padding: 75px 0 96px;
  &__title {
    max-width: 370px;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    color: #3b3b3b;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
