.grow {
  padding: 75px 0 96px;

  &__meta {
    margin-bottom: 70px;
  }

  &__title,
  &__desc {
    color: #3b3b3b;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    max-width: 370px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;

    white-space: nowrap;

    @include _1024 {
    }
  }

  &__desc {
    max-width: 546px;
    height: 46px;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__images {
    display: flex;
    align-items: center;
  }

  &__left,
  &__right {
    min-height: 250px;
    object-fit: cover;
    max-height: 250px;
  }

  &__left {
    width: calc(60%);
    margin-right: 3px;
  }

  &__right {
    width: calc(40%);
  }
}
