.grow {
  margin-bottom: 100px;
  padding-top: 75px;

  @include _1024 {
    margin-bottom: 70px;
  }

  @include _767 {
    margin-bottom: 50px;
  }

  &__meta {
    margin-bottom: 70px;

    @include _1024 {
      margin-bottom: 50px;
    }

    @include _767 {
      margin-bottom: 30px;
    }
  }

  &__title,
  &__desc {
    color: #3b3b3b;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__title {
    max-width: 370px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;

    white-space: nowrap;

    @include _767 {
      font-size: 24px;
    }
  }

  &__desc {
    max-width: 546px;
    height: 46px;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    @include _767 {
      max-width: 290px;
      height: 54px;
      font-size: 14px;
      -webkit-line-clamp: 3;
    }
  }

  &__images {
    display: flex;
    align-items: center;
    margin-bottom: 100px;

    @include _1024 {
      margin-bottom: 70px;
    }

    @include _767 {
      margin-bottom: 50px;
    }
  }

  &__left,
  &__right {
    min-height: 250px;
    object-fit: cover;
    max-height: 250px;
  }

  &__left {
    width: calc(60%);
    margin-right: 3px;

    @include _767 {
      width: calc(100%);
    }
  }

  &__right {
    width: calc(40%);

    @include _767 {
      display: none;
    }
  }

  .variants {
    display: flex;
    justify-content: space-between;
  }
}
